<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-4">
        <h1 class="heading-section">Orders</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!--					<h3 class="h5 mb-4 text-center">Table Accordion</h3>-->
        <div class="table-wrap">
          <table class="table">
            <thead class="thead-primary">
            <tr>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
              <th>Product</th>
              <th>Price</th>
              <th>ADD</th>
              <th>Quantity</th>
              <th>REMOVE</th>
              <th>total</th>
              <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tbody>
            <tr class="alert" role="alert" *ngFor="let item of cartItems; let i = index">
              <td><label class="checkbox-wrap checkbox-primary"></label></td>
              <td><img class="img" [src]="item.imagePath" /></td>
              <td>
                <div class="email">
                  <span>{{ item.name }}</span>
                  <span>{{ item.description }}</span>
                </div>
              </td>
              <td>${{ item.price }}</td>
              <td class="quantity">
                <div class="input-group">
                  <a (click)="increaseQuantity(item)">
                    <i class="fa fa-plus"></i>
                  </a>
                </div>
              </td>
              <td class="quantity">
                <div class="input-group">
                  <input disabled type="text" class="quantity form-control input-number" [value]="item.quantity" min="1" max="100">
                </div>
              </td>
              <td class="quantity">
                <div class="input-group">
                  <a  (click)="decreaseQuantity(item)">
                    <i class="fa fa-minus"></i>
                  </a>
                </div>
              </td>
              <td>${{ item.price * item.quantity }}</td>
              <td>
                <button type="button" class="close" aria-label="Close" (click)="removeItem(item)">
                  X
                </button>
              </td>
            </tr>
            </tbody>

          </table>
          <button type="button" class="btn btn-success col-12">Take Order</button>
        </div>
      </div>
    </div>
  </div>
</section>
