<div class="container-xxl pt-5 pb-3">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h5 class="section-title ff-secondary text-center text-primary fw-normal">Team Members</h5>
      <h1 class="mb-5">Our Master Chefs</h1>
    </div>
    <div class="row g-4">
      <div *ngFor="let chef of chefs" class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item text-center rounded overflow-hidden">
          <div class="rounded-circle overflow-hidden m-4">
            <img class="img-fluid" [src]="chef.logoPath ?  '/assets/img/'+chef.logoPath: '/assets/img/chefs/team-1.jpg'" alt="{{ chef.fullName }}">


          </div>
          <h5 class="mb-0">{{ chef.fullName }}</h5>
          <small>{{ chef.speciality }}</small>
          <div class="d-flex justify-content-center mt-3">
            <a class="btn btn-square btn-primary mx-1" [href]="chef.facebookUrl" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a class="btn btn-square btn-primary mx-1" [href]="chef.twitterUrl" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
            <a class="btn btn-square btn-primary mx-1" [href]="chef.instagramUrl" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
